form { color: hsla(230.5, 10.1%, 62.9%, 1); }

h2 { font-weight: 300; font-size: calc((5vh + 0.5vw + 0.5vmin) * 0.5); }

label { font-weight: 400; cursor: pointer; }

textarea, input {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: calc((5vh + 0.5vw + 0.5vmin) * 0.25);
  text-align: center;
  color: hsla(230.5, 10.1%, 62.9%, 1);
  border: none;
  outline: none;
  max-width: 90%;
  padding: 1rem;
  cursor: text;
  overflow: hidden;
}

input { border-bottom: 2px dashed hsla(230.5, 10.1%, 62.9%, 1); }
textarea { border-color: rgba(4, 0, 0, 0 ); resize: none; width: 60%; }

input:required, textarea:required { border-bottom: 2px dashed hsla(230.5, 10.1%, 62.9%, 1); }

textarea:required:valid   { border-bottom: 2px solid hsla(230.5, 10.1%, 62.9%, 1); }
textarea:required:invalid { border-bottom: 2px solid hsla(230.5, 10.1%, 62.9%, 1); }
input:required:valid      { border-bottom: 2px solid hsla(230.5, 10.1%, 62.9%, 1); }
input:required:invalid    { color: hsla(230.5, 10.1%, 62.9%, 0.5); }

textarea:focus { background-color: hsla(230.5, 10.1%, 62.9%, .25); border: 2px dashed rgba(4, 0, 0, 0); }
textarea:focus:required:valid { border: 2px solid rgba(4, 0, 0, 0); border-bottom: 2px solid hsla(230.5, 10.1%, 62.9%, 1); }
input:focus { border-bottom: 2px dashed rgba(4, 0, 0, 1); background-color: hsla(230.5, 10.1%, 62.9%, 0.25); }

.send-button { font-size: calc((5vh + 0.5vw + 0.5vmin) * 0.25); 
  background: none; border: none; outline: none; margin: 2vmax; }

.send-button:hover { color: #FFCC33; cursor: pointer; }

#linkedin-icon { width: 32px; height: 32px; }

hr {
    border: 0; height: 1px; background: #63C;
    background-image: -webkit-linear-gradient(left, #2EC2C2, #B82C79, #2EC2C2);
    background-image: -moz-linear-gradient(left, #2EC2C2, #B82C79, #2EC2C2);
    background-image: -ms-linear-gradient(left, #2EC2C2, #B82C79, #2EC2C2);
    background-image: -o-linear-gradient(left, #2EC2C2, #B82C79, #2EC2C2);
}
