form, textarea, input, h2 { color: hsla(230.5, 10.1%, 62.9%, 1); font-family: 'Montserrat Alternates', sans-serif; }

h2, .send-button { font-size: calc((5vh + 0.5vw + 0.5vmin) * 0.5); font-weight: 300; }

textarea, input {
  font-size: calc((5vh + 0.5vw + 0.5vmin) * 0.25);
  text-align: center;
  border: none;
  outline: none;
  max-width: 90%;
  padding: 1rem;
  cursor: text;
  overflow: hidden;
}

textarea, input { border-bottom: 2px dotted #B82C79; resize: vertical; }
textarea, hr { width: 60%; }

input:required, textarea:required { border-bottom: 2px dotted #B82C79; }

textarea:focus, input:focus { background-color: hsla(230.5, 10.1%, 62.9%, 0.10); border-bottom: 2px dotted #B82C79; }

textarea:required:valid, input:required:valid { border-bottom: 2px dotted #2EC2C2; }

textarea:required:invalid, input:required:invalid { border-bottom: 2px dotted #B82C79; }

.send-button, .send-button:focus { background: none; border: none; outline: none; transition: all .5s ease-in-out; }
.send-button:hover { color: #FFCC33; cursor: pointer; outline: 0; border: none; -moz-outline-style: none }

hr {
    border: 0; height: 1px; background: #FFCC33;
    background-image: -webkit-linear-gradient(left, #2EC2C2, #B82C79, #2EC2C2);
    background-image: -moz-linear-gradient(left, #2EC2C2, #B82C79, #2EC2C2);
    background-image: -ms-linear-gradient(left, #2EC2C2, #B82C79, #2EC2C2);
    background-image: -o-linear-gradient(left, #2EC2C2, #B82C79, #2EC2C2);
}

[id="Social"] { font-style: italic; color: hsla(230.5, 10.1%, 62.9%, 1); text-decoration: none; transition: all .5s ease-in-out; }
[id="Social"]:active, [id="Social"]:focus { outline: 0; border: none; -moz-outline-style: none }
[id="Social"]:hover     { color: #2EC2C2; }

