form, textarea, input { color: hsla(230.5, 10.1%, 62.9%, 1); font-family: 'Montserrat Alternates', sans-serif; }

h2, send-button { font-size: calc((5vh + 0.5vw + 0.5vmin) * 0.5); font-weight: 300; }

p { font-size: calc((5vh + 0.5vw + 0.5vmin) * 0.25); font-weight: 300; }

textarea, input {
  font-size: calc((5vh + 0.5vw + 0.5vmin) * 0.25);
  text-align: center;
  border: none;
  outline: none;
  max-width: 90%;
  padding: 1rem;
  cursor: text;
  overflow: hidden;
}

textarea, input { border-bottom: 2px dotted #B82C79; resize: vertical; }
textarea { width: 60%; }

input:required, textarea:required { border-bottom: 2px dotted #B82C79; }

textarea:focus, input:focus { background-color: hsla(230.5, 10.1%, 62.9%, 0.10); border-bottom: 2px dotted #B82C79; }

textarea:required:valid, input:required:valid { border-bottom: 2px dotted #2EC2C2; }

textarea:required:invalid, input:required:invalid { border-bottom: 2px dotted #B82C79; }

.send-button, .send-button:focus { background: none; border: none; outline: none; margin: 2vmax; }
.send-button:hover { color: #FFCC33; cursor: pointer; }

#linkedin-icon { width: 32px; height: 32px; }

hr {
    border: 0; height: 1px; background: #63C;
    background-image: -webkit-linear-gradient(left, #2EC2C2, #B82C79, #2EC2C2);
    background-image: -moz-linear-gradient(left, #2EC2C2, #B82C79, #2EC2C2);
    background-image: -ms-linear-gradient(left, #2EC2C2, #B82C79, #2EC2C2);
    background-image: -o-linear-gradient(left, #2EC2C2, #B82C79, #2EC2C2);
}
