.item.proglogic { background-color: #FFE8E8; }
.item.discstruct { background-color: #FFF2E8; }
.item.datastruct { background-color: #E5FCFB; }
.item.webdev { background-color: #E7FDE7; }

.heading { font-size: calc((5vh + 0.5vw + 0.5vmin) * 0.45); padding: 2vh; }

.description { font-size: calc((5vh + 0.5vw + 0.5vmin) * 0.35); padding: 2vh; }

.tag { font-size: calc((5vh + 0.5vw + 0.5vmin) * 0.25); boder-radius: 50%; }

