/* ---- grid ---- */

.grid {
  padding-top: 2vh;
  border: 5px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- items ---- */

.item {
  border: solid white 1vh;
  padding: 1vh;
  position: relative;
  float: left;
  text-align: center;
}

.item > * {
  margin: 0;
  padding: 0;
}

/* For mobile phones: */
[class*="item"] {
    width: 100%;
}

/* For desktop */
@media only screen and (min-width: 200px) {
  .item {
    width: 50%;
  }
}

@media only screen and (min-width: 400px) {
  .item {
    width: 33.33%;
  }
}

@media only screen and (min-width: 600px) {
  .item {
    width: 25%;
  }
}

@media only screen and (min-width: 700px) {
  .item {
    width: 20%;
  }
}

@media only screen and (min-width: 900px) {
  .item {
    width: 16.66%;
  }
}

@media only screen and (min-width: 1000px) {
  .item {
    width: 14.28%;
  }
}
