.item.proglogic { background-color: #FFE8E8; }
.item.discstruct { background-color: #FFF2E8; }
.item.datastruct { background-color: #E5FCFB; }
.item.webdev { background-color: #E7FDE7; }

.title { font-size: calc((5vh + 0.5vw + 0.5vmin) * 0.35); padding-bottom: 1vh; }

.author { font-size: calc((5vh + 0.5vw + 0.5vmin) * 0.25); padding-bottom: 1vh; }

img {
  box-shadow: 10px 10px 5px #ccc;
	-moz-box-shadow: 10px 10px 5px #ccc;
	-webkit-box-shadow: 10px 10px 5px #ccc;
	-khtml-box-shadow: 10px 10px 5px #ccc;
}
